/*section-search*/
.footer_tags-content-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;
    padding: 44px 8px;
}
.footer_search-tags-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    width: 360px;
}
.search-input{
    display: flex;
    width: 306px;
    height: 36px;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    background: #DCE4E7;
    border: none;
    box-sizing: border-box;
}
.search-input-box{
    width: 306px;
    position: relative;
}
.search-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    height: 36px;
    width: 36px;
    background: #006CE5;
    padding: 10px;
}
.search-btn:hover{
    cursor: pointer;
}
.search-input::placeholder{
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
}
.search-input:focus{
    border: 1px solid #88c4ea;
    outline: none;
}
.footer_tags-box{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-direction: column;
}
.footer_tags-box-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.footer_icon-img{
    width: 24px;
    height: 24px;
    color: #002E44;
}
.footer_icon-title{
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.footer_tags-nav-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.footer_tags-item{
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border: 0 solid #FFF;
    background: #FFF;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 50px;
}
/*section-footer-logo*/
.footer_logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0 24px 0;
}
.footer_logo-img{
    width: 154px;
    height: 42px;
}
.footer_logo-text{
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
@media (min-width: 768px){
    .footer_tags-content-container{
        display: flex;
        justify-content: center;
    }
    .footer_search-tags-container{
        width: 526px;
    }
    .footer_logo-img{
        width: 196px;
        height: 54px;
    }
    .footer_logo-wrap{
        gap: 24px;
        margin: 48px 0;
    }
}
@media (min-width: 1368px) {
    .footer_logo-wrap{
        margin: 40px;
    }
}