.header{
    padding-right: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 44px;
    height: 47px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #FFFFFF;
}
.header_wrap-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}
.header_nav-logo-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.header_burger-menu{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006CE5;
    width: 48px;
    height: 47px;
}
.header-nav-menu{
    display: none;
}
.header_live-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    gap: 8px;
    border-left: 1px solid #D4D4D4;
}
.header_live-title{
    color: #ED0E05;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
@media (min-width: 768px) {
    .header{
        padding-right: 12px;
        margin-bottom: 32px ;
    }
    .header_logo-img{
        width: 114px;
        height: 32px;
    }
}
@media (min-width: 1368px){
    .header{
        display: flex;
        justify-content: center;
        padding-right: 0;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 48px;
        height: 60px;
    }
    .header_wrap-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFF;
        width: 1296px;
        margin: 16px 36px;
    }
    .header-nav-menu{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .header_burger-menu{
        display: none;
    }
    .header_nav-items-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .header_nav-item{
        color: #1A1B1B;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }
}
