    /*main-header*/
.main-content-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 8px;
}
.main_title{
    color: #1A1B1B;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 125%;
}
    /*main-section*/
.main_title-first-news{
    color: #1A1B1B;
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 8px;
}
.main_bar{
    content: " ";
    width: 100%;
    height: 1px;
    background: #D4D4D4;
    margin-bottom: 32px;
}
.topic-news-box{
    margin-bottom: 32px;
}
.warsaw-img-container{
    width: 100%;
    height: 416px;
    background: url("../img/warsaw-news.png") no-repeat center center;
    background-size: cover;
    margin-bottom: 16px;
    position: relative;
}
.topic_news-box{
    position: absolute;
    left: 0;
    bottom: 0;
}
.label-content-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px 10px 0;
    width: auto;
    height: auto;
    background: #FFF;
    box-sizing: border-box;
}
.label-title{
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}
.main_first-news-text{
    color: #1A1B1B;
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
}
    /*subtopic-first-section*/
.subtopic-post{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.subtopic_bar{
    content: " ";
    width: 100%;
    height: 1px;
    background: #D4D4D4;
    margin: 24px 0;
}
.subtopic-head{
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}
.subtopic-post_img-container{
    width: 100%;
    height: 166px;
    margin-bottom: 4px;
    position: relative;
}
.opposition-img {
    background: url("../img/opposition-img.png") no-repeat center center;
    background-size: cover;
}
.subtopic-post_img-container.karma-pub-img{
    background: url("../img/karma-pub.png") no-repeat center center;
    background-size: cover;
}
.subtopic_post-play-img{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.investigation-img{
    background: url("../img/investigation-img.png") no-repeat center center;
    background-size: cover;
}
.section-end-bar{
    margin: 32px 0;
}
    /*main-section-more*/
.subtopic-head-more_title{
    color: #1A1B1B;
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 32px;
}
.subtopic-head-more_news-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}
.subtopic-post-more_description-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.subtopic-post-more_img-container{
    width: auto;
    height: 166px;
    margin-bottom: 12px;
    position: relative;
}
.subtopic-post-more_title{
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}
.subtopic-post-more_text{
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}
.subtopic-post-more-date{
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
}
.gay-pride-img{
    background: url("../img/gay-pride-img.png") no-repeat center center;
    background-size: cover;
}
.flights-to-warsaw-img{
    background: url("../img/flights-to-warsaw.png") no-repeat center center;
    background-size: cover;
}
.compound-to-give-img{
    background: url("../img/compound-to-give.png") no-repeat center center;
    background-size: cover;
}
.open-door-img{
    background: url("../img/opened-it-door.png") no-repeat center center;
    background-size: cover;
}
.culture-football-img{
    background: url("../img/culture-football.png") no-repeat center center;
    background-size: cover;
}
.soaring-energy-img{
    background: url("../img/soaring-energy.png") no-repeat center center;
    background-size: cover;
}
    /*pages-section*/
.main-pages-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.nav_pages-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
}
.nav-page-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006CE5;
    font-size: 14px;
    font-weight: 800;
}
.nav-next-arrow{
    margin-left: 8px;
}
.first-page-item{
    color: #1A1B1B;
}
.page-background{
    border-radius: 50%;
    border: 1px solid #D4D4D4;
    padding: 10px;
    width: 37px;
    height: 37px;
    box-sizing: border-box;
    text-align: center;
}
@media (min-width: 768px){
    /*main-header*/
    .main-content-container{
        padding: 0 12px;
    }
    .main_title{
        font-size: 22px;
        margin-bottom: 4px;
    }
    /*main-section*/
    .main_title-first-news{
        font-size: 62px;
        margin-bottom: 4px;
    }
    /*subtopic-first-section*/
    .subtopic-post{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 24px;
    }
    .subtopic_bar{
        content: " ";
        width: 100%;
        height: 1px;
        background: #D4D4D4;
        margin: 24px 0;
    }
    .subtopic-head{
        color: #1A1B1B;
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
    }
    .subtopic-post_img-container{
        max-width: 296px;
        max-height: 166px;
        margin: 0;
    }
    .section-end-bar{
        margin: 56px 0 32px 0;
    }
    /*main-section-more*/
    .subtopic-head-more_title{
        font-size: 42px;
    }
    .subtopic-post-more-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        height: 166px;
    }
    .subtopic-post-more_img-container {
        min-width: 296px;
        margin: 0;
    }
}
@media (min-width: 1368px){
    /*main-section*/
    .main-content-container{
        display: flex;
        align-content: center;
    }
    .main-content_wrap{
        display: flex;
        flex-direction: column;
        width: 1296px;
    }
    .main-news-container{
        display: flex;
        justify-content: center;
        gap: 24px;
        height: 496px;
    }
    .topic-news-box{
        width: 746px;
    }
    .subtopic-post_img-container{
        max-width: 196px;
        max-height: 110px;
    }
    .subtopic-head-more-wrap{
        display: flex;
        justify-content: center;
        gap: 36px;
    }
    .subtopic-head-more_news-wrap{
        width: 856px;
    }
    .subtopic-post-more-container{
        height: 172px;
    }
    .subtopic-post-more_img-container{
        min-width: 306px;
        height: 172px;
    }
    .main-pages-container{
        margin-top: 64px;
    }
}